.searching-bar-header {
    padding-bottom: 10px;
}
.search-form {
    height: 40px;}
    .search-form .search-box {
        border: 2px solid #CCCCCC;
        border-radius: 16px;
    }
    .search-form .search-button{
        background-color: black;
        width: 70px;
        height: 40px;
    }
    .search-form .search-button .search-icon {
        width: 24px;
        height: 24px;
    }

