.order-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 8px 8px 32px #00000008;
  cursor: pointer;
  padding: 32px;
  user-select: none;
}
  .order-item:hover {
    box-shadow: 0 0 8px #82CD47;
  }
  .order-item:active {
    background-color: #f2f2f2;
    box-shadow: 0 0 8px #82CD47;
  }
  .order-item-status {
    border-radius: 4px;
    color: white;
    font-size: 16;
    font-weight: bold;
    padding: 6px 12px;
  }
    .order-item-status-green {
      background-color: #82CD47;
    }
    .order-item-status-yellow {
      background-color: #FEB934;
    }
    .order-item-status-red {
      background-color: #FF5A5F;
    }
    .order-item-status-blue {
      background-color: #6293F2;
    }
    .order-item-status-grey {
      background-color: #999;
    }
  .order-item-secondary {
    color: #999;
  }
  .order-item-date {
    font-weight: bold;
  }
  .order-item-total {
    color: #82CD47;
    font-weight: bold;
  }
  .order-item-product-title {
    font-weight: bold;
  }
  .order-item-donor-logo {
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }

.step-item {
  border-radius: 50%;
  align-self: start;
  width: 48px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .step-item-sm {
    border-radius: 50%;
    align-self: start;
  }
  .step-item-finished {
    border: 2px solid #82CD47;
    background-color: #82CD4700;
    color: #82CD47;
  }
  .step-item-current {
    border: 2px solid #82CD47;
    background-color: #82CD47;
    color: white;
  }
  .step-item-unfinished {
    border: 2px solid #ccc;
    background-color: #82CD4700;
    color: #ccc;
  }
  .step-item-icon {
    width: 24px;
    height: 24px;
    padding-top: 0px;
  }
    .step-item-icon-sm {
      width: 16px;
      height: 16px;
    }
  .step-connector {
    width: 1px; height: 16px;
    background-color: #ccc;
    margin-left: 24px;
  }
    .step-connector.pass {
      background-color: #82CD47;
    }
  .step-text {
    font-size: 18px;
  }
  .step-text-current {
    color: black;
    font-weight: 500;
  }
  .step-text-unfinished {
    color: #ccc;
  }
  .step-text-finished {
    color: #82CD47;
  }

