.btn-primary.fogi, .btn-primary.fogi:active, .btn-primary.fogi:visited {
  background-color: #82CD47 !important;
  border: 1px solid #82CD47 !important;
}

.btn-primary.fogi:hover {
  background-color: #5A9829 !important;
  border: 1px solid #5A9829 !important;
}

a.fogi {
  color: #82CD47 !important;
  text-decoration: none !important;
}

a.fogi:link {
  color: #82CD47 !important;
  text-decoration: none !important;
}

a.fogi:visited {
  color: #82CD47 !important;
  text-decoration: none !important;
}

a.fogi:hover {
  color: #82CD47 !important;
  text-decoration: none !important;
}

a.fogi:active {
  color: #82CD47 !important;
  text-decoration: none !important;
}

.logo {
  background-image: url('../images/logo.svg');
  width: 68px;
  height: 64px;
  background-repeat: no-repeat;
}

.error {
  color: #bf1650;
  font-size: 14px;
}