.btn-primary.fogi, .btn-primary.fogi:active, .btn-primary.fogi:visited {
  background-color: #82CD47 !important;
  border-color: #82CD47 !important;
}

.btn-primary.fogi:hover {
  background-color: #5A9829 !important;
  border-color: #5A9829 !important;
}

.btn {
  border: 2px solid;
  font-weight: bold;
}

.btn-primary, .btn-secondary, .btn-danger, .btn-light, .btn-dark {
  border: 2px solid;
}

.btn-primary {
  background-color: #82CD47;
  border-color: #82CD47;
}

.btn-secondary {
  background-color: gray;
  border-color: gray;
}

.btn-danger {
  background-color: red;
  border-color: red;
}

.btn-light {
  background-color: white;
  border-color: white;
}

.btn-dark {
  background-color: black;
  border-color: black;
}

.navbar.fogi {
  background-color: #82CD47 !important;
}

a.fogi {
  color: #82CD47 !important;
  text-decoration: none !important;
}

a.fogi:link {
  color: #82CD47 !important;
  text-decoration: none !important;
}

a.fogi:visited {
  color: #82CD47 !important;
  text-decoration: none !important;
}

a.fogi:hover {
  color: #82CD47 !important;
  text-decoration: none !important;
}

a.fogi:active {
  color: #82CD47 !important;
  text-decoration: none !important;
}

.logo {
  fill: #82CD47;
}

.logo:hover {
  fill: #ADDE87;
  cursor: pointer;
}

.logo-alt {
  fill: white;
}

.logo-alt:hover {
  fill: #ccc;
  cursor: pointer;
}

.logo-large {
  width: 128px;
  height: 128px;
}

.bg {
  background-color: #F2F2F2;
}

.error {
  color: #bf1650;
  font-size: 14px;
}

.long-product-item {
  padding: 16px;
  user-select: none;
  border-color: #ffffff00;
  cursor: pointer;
}
  .long-product-item:hover {
    border: 1px solid #ccc;
  }
  .long-product-item:active {
    background-color: #ccc;
  }
  .long-product-item-static {
    padding: 16px;
    user-select: none;
    border-color: #ffffff00;
  }
  .long-product-image {
    border-radius: 8px;
  }
  .long-product-type {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #82CD47;
    color: white;
  }
  .long-product-type-sm {
    color: #999;
    font-size: 14px;
  }
  .long-product-label {
    color: #999;
    font-weight: bold;
  }
  .long-product-label-icon {
    color: #999;
    width: 16px;
    height: 16px;
  }
  .long-product-tail {
    border-color: #ffffff00;
    background-color: #FF5A5F;
    height: 100%;
    cursor: pointer;
  }
    .long-product-tail:hover {
      background-color: #FF9EA1;
    }
    .long-product-tail:active {
      background-color: #F50007;
    }
  .long-product-icon {
    width: 48px;
    height: 48px;
    color: white;
  }