.product-section-body {
    padding-top: 15px;
}
    .product-image {
        height: 190px;
    }

    .product-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    .product-price {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #82CD47;
    }

    .donar-product-logo {
        width: 40px;
        height: 40px;
        border: 4px solid #FFFFFF;
        border-radius: 16px;
    }
    .donar-product-name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    .add-to-cart-button {
        width: 100%;
        background: #82CD47;
    }
    
.product-section-footer {
    padding-top: 15px;
}