.category-card {
  position: relative;
}

.category-edit-btn {
  background-color: #82CD47;
  border-radius: 50%;
  box-shadow: 8px 8px 16px #00000008;
  color: white;
  cursor: pointer;
  padding: 6px;
  position: absolute;
  top: 24px; right: 24px;
  width: 40px; height: 40px;
}
  .category-edit-btn:hover {
    background-color: #5A9829;
  }
  .category-edit-btn:active {
    background-color: #5A9829;
  }
.category-edit-icon {
  width: 20px; height: 20px;
}