.manage-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 8px 8px 32px #00000008;
  padding: 24px 32px;
  user-select: none;
};
  .manage-card-name {
    font-weight: bold;
  }
  .manage-card-primary {
    font-size: 18px;
  }
  .manage-card-secondary {
    color: #999;
  }
  .manage-card-link {
    color: #82CD47;
    font-weight: bold;
    cursor: pointer;
  }
    .manage-card-link:hover {
      color: #ADDE87;
    }
    .manage-card-link:active {
      color: #5A9829;
    }
  .manage-clickable {
    cursor: pointer;
  }
    .manage-clickable:hover  {
      box-shadow: 0 0 8px #82CD47;
    }
    .manage-clickable:active {
      background-color: #f2f2f2;
      box-shadow: 0 0 8px #82CD47;
    }

.manage-details-profile-logo {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
}