.order-info-card {
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  position: relative;
}
  .order-info-id {
    color: #999;
  }
  .order-info-total {
    color: #82CD47;
    font-weight: bold;
  }
  .order-info-donor-logo {
    border-radius: 50%;
    width: 72px;
    height: 72px;
  }
  .order-info-donor-info {
    color: #999;
  }
  .order-info-donor-location-icon {
    width: 24px;
    height: 24px;
  }
  .order-item-volunteer-info {
    position: absolute;
    top: 32px;
    right: 32px;
  }
    .order-item-volunteer-avatar {
      border-radius: 50%;
      width: 56px;
      height: 56px;
    }
    .order-item-volunteer-label {
      color: #999;
      font-size: 14px;
    }
    .order-item-volunteer-name {
      font-size: 18px;
    }
  .order-item-volunteer-info-card {
    padding: 16px;
    background-color: white;
    border-radius: 8px;
  }